.main_header {
    width: 100%;
    background-color: #2D3142;
}

.main_header .container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .container .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
}

.main_header .container .menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.menu ul {
    display: flex;
    align-items: stretch;
}

.menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.menu ul li a {
    padding: 0 25px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #D36833;
}

.menu ul li a:hover {
    color: white;
    background-color: #D36833;
}

.main_top_container {
    width: 100%;
    background-image: url("../_img/bg_main_home.png");
    background-color: #2D3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_top_container .main_article {
    max-width: 1300px;
    margin: 0 auto;
}

.main_top_container .main_article h1 {
    font-size: 3em;
    color: white;
    font-weight: 700;
    text-align: center;
}

.main_top_container .main_article p {
    font-size: 1.7em;
    color: white;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_top_container .main_article .btn {
    background-color: #D36833;
    color: white;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_top_container .main_article .top_header_container {
    margin: 0 auto;
    max-width: 1300px;
    padding: 160px 40px;
}

/* Conigurações das notícias do blog */

.main_blog {
    max-width: calc(1300px - 40px);
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog .main_blog_header {
    flex-basis: 100%;
    margin: 30px 0;
}

.main_blog .main_blog_header h1 {
    color: black;
    margin-bottom: 5px;
    font-size: 2em;
}

.main_blog article {
    opacity: 0.7;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main_blog article:hover {
    opacity: 1;
    transition: 0.5s ease;
}

.main_blog article img {
    width: 100%;
}

.main_blog article p {
    margin: 10px 0;
}

.main_blog article .category {
    font-size: 0.875em;
    color: #D36833;
}

.main_blog article h2 {
    font-weight: 300;
    font-size: 1.2em;
}

.main_blog article h2 a {
    color: black;
}

/* Optin */

.main_optin {
    width: 100%;
    background-color: #2D3142;
    margin: 20px 0;
}

.main_optin_content {
    max-width: calc(1300px - 40px);
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
}

.main_optin_content header, .main_optin_content form {
    flex-basis: 50%;
}

.main_optin_content header h1, .main_optin_content header p {
    color: white;
    text-align: right;
    margin-right: 20px;
}

.main_optin_content header h1 {
    font-size: 1.2em;
    font-weight: 400;
}

.main_optin_content header p {
    font-weight: 300;
    font-size: 0.7em;
}

.main_optin_content form {
    display: flex;
    justify-content: space-between;
}

.main_optin_content form input[type=text], .main_optin_content form input[type=email] {
    flex-basis: 30%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: none;
    padding: 10px 10px;
}

.main_optin_content form button {
    flex-basis: 20%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: white;
    background-color: #D36833;
    border: none;
    font-weight: bold;
}